*__pycache__*
expert_kowledge_output/
.venv/
.ruff_cache/
raw_data/
temp_post_market_evaluation.py
adversarial_evaluation_original_output/
adversarial_evaluation_synthetic_output/
expert_knowledge_output/
model_files/weights_v7.hdf5